.menubar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw !important;
  transition: all 0.8s; }

.activemenu {
  background-color: #E91E63;
  color: #fff !important; }

html {
  font-size: 14px; }

body {
  margin: 0px;
  padding: 0px;
  background-color: #fff; }

div, p, ul, h1, h2, h3, h4, nav {
  padding: 0px;
  margin: 0px; }

#landingpage {
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  overflow-X: hidden;
  background-color: #F8BBD0; }
  #landingpage #heroimgwrapper {
    overflow: hidden;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-filter: hue-rotate(30deg);
    filter: hue-rotate(30deg);
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center; }
    #landingpage #heroimgwrapper #heroimg-lvl1 {
      -webkit-filter: sepia(1);
      filter: sepia(1);
      position: relative;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: rgba(255, 255, 255, 0.4); }
  #landingpage span {
    position: absolute;
    display: none;
    color: rgba(255, 255, 255, 0.8);
    bottom: 0px;
    cursor: pointer;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: color,background-color 0.4s; }
    #landingpage span:before {
      content: '>> '; }
    #landingpage span:after {
      content: ' <<'; }
    #landingpage span:hover {
      color: white;
      background-color: rgba(255, 255, 255, 0.1); }

#aboutpage #mainnav {
  border: 2px solid #E91E63;
  background-color: #fff;
  z-index: 10;
  border: 2px solid #E91E63;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 2px 2px 5px #000; }
  #aboutpage #mainnav ul {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: distribute;
    -moz-box-pack: distribute;
    box-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: distribute;
    margin: 5px 0;
    list-style: none; }
    #aboutpage #mainnav ul li {
      text-align: center;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.8);
      -webkit-flex-grow: 1;
      -moz-flex-grow: 1;
      flex-grow: 1;
      -ms-flex-positive: 1;
      cursor: pointer;
      transition: color,background-color 0.4s,0.4s; }
      #aboutpage #mainnav ul li:hover {
        color: white;
        background-color: #E91E63; }

.contentwrapper {
  background-color: #fff;
  margin: 5px auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-sizing: border-box;
  padding: 15px; }
  .contentwrapper header {
    color: #E91E63;
    font-weight: 700;
    text-align: center;
    margin: 5px 0; }
  .contentwrapper article {
    color: #37474F; }
    .contentwrapper article p {
      text-align: justify; }

.page {
  overflow-X: hidden;
  position: relative;
  background-color: #F8BBD0; }

@media screen and (min-width: 801px) {
  #landingpage #heroimgwrapper {
    max-height: 780px;
    background-image: url(../images/large/hero-px-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; }
    #landingpage #heroimgwrapper #heroimg-lvl1 {
      max-height: 670px;
      height: 35%;
      width: 100%;
      position: relative;
      left: -1500px;
      background-image: url(../images/large/hero-px-lvl2.png);
      background-size: 55% 96%; }
  #landingpage span {
    left: 40%;
    font-size: 4rem; } }
#aboutpage {
  margin: 0 auto;
  box-shadow: -2px -2px 10px #000; }
  #aboutpage #mainnav {
    height: auto;
    margin: 0 auto;
    width: 80%; }
    #aboutpage #mainnav ul > li {
      line-height: 30px;
      font-size: 1.4rem;
      margin: 5px 12px;
      border: 1px solid rgba(0, 0, 0, 0.1); }

#staffpage {
  margin: 0 auto;
  box-shadow: -2px -2px 10px #000; }

#contactpage {
  margin: 0 auto;
  box-shadow: -2px -2px 10px #000; }

.contentwrapper {
  width: 80%;
  min-width: 770px; }
  .contentwrapper header {
    font-size: 2rem; }
  .contentwrapper .headimg {
    float: right;
    padding: 15px; }
  .contentwrapper article p {
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 3px;
    margin: 2px 5px; }

/*# sourceMappingURL=styles.css.map */
